[submodule "me-ios"]
	path = me-ios
	url = https://github.com/teamforus/me-ios.git
[submodule "me-android"]
	path = me-android
	url = https://github.com/teamforus/me-android
[submodule "iOS"]
	path = iOS
	url = https://github.com/teamforus/me-ios.git
[submodule "android"]
	path = android
	url = https://github.com/teamforus/me-android.git
[submodule "knowledge-base"]
	path = knowledge-base
	url = https://github.com/teamforus/knowledge-base.git
