</div>
<!--
<footer class="app-footer {% if page.theme == 'light' %}app-footer--light{% else %}app-footer--black{% endif %}">
  <div class="container">

      <div class="app-footer_col">
          <input id="menu1" type="checkbox" />
          <label for="menu1" class="app-footer_pre-menu">Products</label>
          <ul class="app-footer_nav">
            <li><a href="/forus">Forus</a></li>
            <li><a href="/me">Me</a></li>
            <li><a href="/implementation">Implementations</a></li>
          </ul>
        </div>
    
        <div class="app-footer_col">
          <input id="menu2" type="checkbox" />
          <label for="menu2" class="app-footer_pre-menu">Contact</label>
          <ul class="app-footer_nav">
            <li><a href="/email">E-mail</a></li>
            <li><a target="_blank" href="https://chat.forus.io/">Rocket.Chat</a></li>
            <li><a href="/colony">Colony</a></li>
            <li><a href="https://github.com/teamforus">Github</a></li>
          </ul>
        </div>

    <div class="app-footer_col">
      <input id="menu3" type="checkbox" />
      <label for="menu3" class="app-footer_pre-menu"></label>
      <ul class="app-footer_nav">
      </ul>
    </div>

    <div class="app-footer_col">
      <input id="menu4" type="checkbox" />
      <label for="menu4" class="app-footer_pre-menu"></label>
      <ul class="app-footer_nav">
      </ul>
    </div>
    <div class="app-footer_wrap-logo">
        <h1 class="app-footer_logo">
          <a href="https://foundation.forus.io/">
              <img src="{{ site.url }}/images/default/logo.svg" alt="Forus">
          </a>
        </h1>
        <a class="app-footer_github" target="_blank" href="//github.com/teamforus/forus" rel="noopener noreferrer">
            <span><img src="{{ site.url }}/images/default/star.svg" alt="GitHub Stars"></span>
          <span class="star-count">{{site.stars}}K</span>
        </a>
        <a class="app-footer_github" target="_blank" href="//github.com/RocketChat/forus/forks" rel="noopener noreferrer">
            <span><img src="{{ site.url }}/images/default/fork.svg" alt="GitHub forks"></span>
          <span class="fork-count">{{site.forks}}K</span>
        </a>
        <a class="app-footer_github-link" target="_blank" href="//github.com/teamforus" rel="noopener noreferrer">
            <span><img src="{{ site.url }}/images/default/github.svg" alt="GitHub"></span>
          Open on GitHub
        </a>
      </div>
    </div>
  </footer>
-->
  <footer class="footer">
      <div class="banner__container">
          <div class="footer__main">
              <div class="footer__col">
                  <div class="footer-col__name">Platform</div>
                  <div class="footer-col__list hide-sm-max">
                      <a data-anchor-link="" href="{{site.foundationurl}}/platform/#concept" class="footer-col-list__item">About Platform Forus</a>
                      <a href="{{site.foundationurl}}/kindpakket" class="footer-col-list__item">First Module</a>
                      <a data-anchor-link="" href="{{site.foundationurl}}/platform/#bottom" class="footer-col-list__item">Custom Implementations</a>
                  </div>
              </div>
              <div class="footer__col">
                  <div class="footer-col__name">Consultancy</div>
                  <div class="footer-col__list hide-sm-max">
                      <a data-anchor-link="" href="{{site.foundationurl}}/consultancy/#bottom" class="footer-col-list__item">Education and Speaking</a>
                      <a data-anchor-link="" href="{{site.foundationurl}}/consultancy/#bottom" class="footer-col-list__item">Project Consultancy</a>
                  </div>
              </div>
              <div class="footer__col">
                  <div class="footer-col__name">Contact</div>
                  <div class="footer-col__list hide-sm-max">
                      <a data-anchor-link="" href="{{site.foundationurl}}/contacts/#email" class="footer-col-list__item">Email</a>
                      <a href="https://chat.forus.io/home" class="footer-col-list__item" target="_blank">Rocket.Chat</a>
                      <a data-modal-open="colony" class="footer-col-list__item">Colony</a>
                      <a href="https://github.com/teamforus" class="footer-col-list__item" target="_blank">Github</a>
                  </div>
              </div>
              <div class="footer__col"></div>
              <div class="footer__col _last">
                  <a href="/" class="footer__logo">
                      <img src="{{site.foundationurl}}/static/images/logo.png">
                  </a>
                  <div class="footer-logo__text">
                      Decentralised applications<br>for the public domain
                  </div>
                  <div class="footer-logo__country">Foundation Forus, Groningen, Netherlands</div>
              </div>
             
          </div>
      </div>
      <div class="footer-bottom__wrapper">
          <div class="banner__container">
              <div class="footer__bottom">
                  <div class="footer__copyrights">Copyright ©2018 Foundation Forus. All Rights Reserved</div>
                  <div class="footer__developed" style="display:none">
                      Designed by
                      <a href="http://inspiretowonder.com/" target="_blank">inspiretowonder</a>
                  </div>
                  <a href="mailto:info@forus.io" class="footer__email hide-sm-max">info@forus.io</a>
              </div>
          </div>
      </div>
  </footer>