<header class="header">
    <div class="banner__container">
        <div class="header__wrapper">
            <a href="/" class="header__logo">
                <img src="{{ site.foundationurl }}/static/images/logo.svg" />
            </a>
            <div class="header__navs hide-sm-max">
                <ul>
                  <li class="child sibling">
                  <a href="{{site.foundationurl}}/en/">Home</a>
                  </li>
                  <li class="child sibling">
                  <a href="{{site.foundationurl}}/en/platform/">Platform</a>
                  </li>
                  <li class="child selected">
                  <a href="{{site.foundationurl}}/en/collaboration/">Collaboration</a>
                  </li>
                  <li class="child sibling">
                  <a href="{{site.foundationurl}}/en/media-1/">Media</a>
                  </li>
                  <li class="child sibling">
                      <a href="https://docs.forus.io/en/">Documentation</a>
                  </li>
                  <li class="child sibling">
                  <a href="{{site.foundationurl}}/en/contacts/">Contact</a>
                  </li>
                </ul>
            </div>
            <div class="header__lang hide-sm-max">
                <!--<a data-lang="nl" class="header-lang__item">NL</a>-->
                <a data-lang="en" class="header-lang__item _active">EN</a>
                <!--<a data-lang="ru" class="header-lang__item">RU</a>-->
            </div>
            <div data-burger class="header__burger hide-s-min">
                <div class="icon-burger"></div>
            </div>
        </div>
    </div>
</header>
<div class="page-content">
    <div class="banner" style="background-image: url( {{ site.foundationurl }}/media/slider/19_H2nGCps.png); padding-bottom:15%;">
        <div class="banner__wrapper">
            <div class="banner__container">
                <div class="banner__subtitle"> </div>
                <div class="banner__title" style="padding-bottom:30px;">
                    
                        Documentation
                    
                </div>
            </div>
        </div>
    </div>

